# Dependencies
node_modules/

# Electron build output
dist/
out/

# Chromium kiosk profiles (created on the Pi)
.kiosk-profile-*/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/


